:root {
	--main-bg-color: hsl(200, 75%, 10%);
	--main-card-color: hsl(200, 95%, 7%);
	--main-success-color: hsl(120, 60%, 30%);
	--main-danger-color: hsl(0, 60%, 30%);
	--main-body-text-color: hsl(215, 5%, 65%);
	--main-button-color: hsl(200, 75%, 10%);
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--main-bg-color);
	color: var(--main-body-text-color);
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
}

.card {
	background-color: var(--main-card-color);
	border-radius: 0;
}

.card-body {
	padding: 1.5rem;
}

.table {
	color: var(--main-body-text-color);
	font-weight: 300;
}

.table > thead {
	color: white;
}

.table-nonfluid {
	width: auto !important;
}

.table-tiled {
	border-collapse: separate;
	border-spacing: 0.2rem;
}
.table-tiled > thead > tr > th {
	background-color: var(--main-bg-color);
}
.table-tiled > tbody > tr > td {
	background-color: var(--main-bg-color);
	color: white;
}

.table-success {
	background-color: var(--main-success-color) !important;
}

.table-danger {
	background-color: var(--main-danger-color) !important;
}

.btn {
	border-radius: 1rem;
}

.btn-primary {
	background-color: var(--main-button-color);
	border: none;
}
